@import '../../../../assets/css/mixins';

mat-card {
  @include width-height(100%, 170px);
  border-radius: .7rem;
  box-shadow: 0 3px 20px rgba(255, 255, 0, .09) !important;
  background: transparent;
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  color: antiquewhite;

  &:hover {
    background-color: rgba(255, 255, 255, 0.4);
  }

  .content {
    display: flex;
    justify-content: space-between;

    .left-part {
      display: flex;
      justify-content: space-between;

      .user-picture {
        max-width: 190px;
        @include center();

        img {
          border-radius: 50%;
          @include square(140px);
        }
      }

      .info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 30px;

        .tourist-info {
          @include configure-font(25px, 600);

          .tourist-name {
            cursor: pointer;

            &:hover {
              color: #D6AD60;
            }
          }

          .phone-number {
            @include configure-font(23px, 600);
          }
        }

        .tour-info {
          display: flex;
          margin-left: 2px;
          margin-top: 8px;
          cursor: pointer;
          @include configure-font(21px, 600);

          .tour-name {
            margin-left: 4px;
            cursor: pointer;

            &:hover {
              color: #D6AD60;
            }
          }
        }
      }
    }

    .right-part {
      @include center();

      .actions {
        display: flex;

        .accept {
          margin-left: 10px;
        }
      }

      .status {
        margin-right: 20px;
        @include configure-font(21px, 600);
      }
    }
  }
}
