<section *ngIf="currentUser">
  <div class="page-container">
    <div class="left-part">
      <div class="avatar-block">
        <app-image-upload
          [_initedImageSrc]="initImage"
          (imageEmitter)="catchMainImage($event)"
          (imageInProcessingEmitter)="imageInProcessingEmitter.emit($event)"
        >
        </app-image-upload>
      </div>
    </div>
    <div class="right-part">
      <div class="user-form">
        <form [formGroup]="userForm">
          <div class="fields">
            <div class="field">
              <label class="label">
                {{'ProfileEditpage.FirstNameLabel' | translate}}
              </label>
              <input type="text" formControlName="firstName" autocomplete="disabled" required="true">
              <mat-error *ngIf="userForm.hasError('required', 'firstName') && userForm.get('firstName').touched">
                {{'ProfileEditpage.FirstNameRequired' | translate}}
              </mat-error>
            </div>

            <div class="field">
              <label class="label">
                {{'ProfileEditpage.LastNameLabel' | translate}}
              </label>
              <input type="text" formControlName="lastName" autocomplete="disabled" required="true">
              <mat-error *ngIf="userForm.hasError('required', 'lastName') && userForm.get('lastName').touched">
                {{'ProfileEditpage.LastNameRequired' | translate}}
              </mat-error>
            </div>

            <div class="field">
              <label class="label">
                {{'ProfileEditpage.PhoneNumberLabel' | translate}}
              </label>
              <input type="tel" formControlName="phoneNumber" autocomplete="disabled" required="true">
              <mat-error *ngIf="userForm.hasError('required', 'phoneNumber') && userForm.get('phoneNumber').touched">
                {{'ProfileEditpage.PhoneNumberRequired' | translate}}
              </mat-error>
            </div>

            <div class="field">
              <label class="label">
                {{'ProfileEditpage.AbountMeLabel' | translate}}
              </label>
              <mat-form-field>
                        <textarea
                          #aboutMe
                          maxlength="5000"
                          matInput
                          formControlName="aboutMe"
                          cdkTextareaAutosize
                          #autosize="cdkTextareaAutosize"
                          cdkAutosizeMinRows="1"
                          cdkAutosizeMaxRows="6"></textarea>
                <mat-hint align="end">{{aboutMe.value.length}} / 5000</mat-hint>
              </mat-form-field>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="buttons-row">
    <div class="cancel">
      <button mat-flat-button color="warn" (click)="cancel()">
        {{'ProfileEditpage.Cancel' | translate}}
      </button>
    </div>
    <div class="submit">
      <button mat-flat-button
              color="accent"
              (click)="save()"
              [disabled]="userForm.invalid">
              {{'ProfileEditpage.Save' | translate}}
      </button>
    </div>
  </div>
</section>
