<section *ngIf="user">
  <div class="header-block">
    <mat-card>
      <div class="content">
        <div class="left">
          <div class="hello-block">
            <h1>
              Привіт!
            </h1>
          </div>
          <div class="name-block">
            <div class="full-name">Мене звати, {{user.fullName}}</div>
          </div>
          <div class="edit-block" *ngIf="user.id == currentUser.id">
            <button mat-flat-button color="accent" (click)="goToEditProfile()" >Редагувати профіль</button>
          </div>
        </div>
        <div class="right">
          <div class="user-avatar">
            <img src="{{user.image.link}}" alt="user_avatar">
          </div>
        </div>
      </div>
    </mat-card>
  </div>

  <div class="about-block">
    <mat-card>
      <div class="content">
        <div class="header-label">
          Про мене
        </div>
        <div class="about-me-content">
          {{user.aboutMe}}
        </div>
      </div>
    </mat-card>
  </div>

  <div class="history-block">
    <mat-card>
      <div class="content">
        <div class="header-label">
          Історія мандрівок
        </div>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat ipsum nam obcaecati omnis sint. At dicta illum laudantium nihil possimus quo temporibus veniam. Aliquam architecto at blanditiis omnis pariatur sit.
      </div>
    </mat-card>
  </div>
</section>
