@import '../../../assets/css/mixins';

section {
  display: inline-block;

  section {
    .row {
      display: flex;
      flex-wrap: wrap;
    }

    .tours-row {
      margin: 20px 0 30px;
      display: grid;
      width: 100%;
      grid-column-gap: 48px;
      grid-template-columns: repeat(4, minmax(0, 1fr));

      @media screen and (max-width: 1245px) {
        grid-column-gap: 35px;
        grid-template-columns: repeat(3, minmax(0, 1fr));
      }

      @media screen and (max-width: 953px) {
        grid-column-gap: 24px;
        grid-template-columns: repeat(2, minmax(0, 1fr));
      }

      @media screen and (max-width: 670px) {
        grid-column-gap: 24px;
        grid-template-columns: repeat(1, minmax(0, 1fr));
      }
    }
  }

}
