<div class="container">
  <div class="header-container">
    <div class="title">
      <h1>
        {{tour?.name}}
      </h1>
    </div>
    <div class="edit-button" (click)="edit(tour.id)">
      <button mat-flat-button color="accent">Редагувати</button>
    </div>
  </div>

  <app-tour-info-images-slider [_images]="tour?.urls"></app-tour-info-images-slider>
<!--  <div class="slider"  [attr.outage-count]="'red'">-->
<!--    <div class="slide-track"-->
<!--         [style.width]="'calc(250px * ' + tour?.urls?.length +')'"-->
<!--         [style.keyframes.scroll.100%]="'translateX(-250px * ' + tour?.urls?.length/2 +')'">-->
<!--      <div class="slide" *ngFor="let url of tour?.urls">-->
<!--        <img [src]="url" alt="tour-image">-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
  <div class="description-container">
    <div class="description">
      {{tour?.description}}
    </div>
  </div>
</div>
