@import '../../../assets/css/mixins';

.container {
  padding-top: 60px;

  .title-container {
    display: flex;
    margin-top: 22px;
    margin-left: 40px;
    h1 {
      @include configure-font(34px, 700);
      color: antiquewhite;
    }
  }

  .description-container {
    margin-top: 22px;
    margin-left: 40px;
    max-width: 800px;
    color: antiquewhite;
    @include configure-font(19px, 500);
  }

  .slider {
    height: 200px;
    margin: auto;
    position: relative;
    width: 90%;
    display: grid;
    place-items: center;
    overflow: hidden;

    .slide-track {
      display: flex;
      animation: scroll 40s linear infinite;

      &:hover {
        animation-play-state: paused;
      }

      .slide {
        height: 200px;
        width: 250px;
        align-items: center;
        padding: 15px;
        perspective: 100px;

        img {
          width: 100%;
          transition: transform 1s;

          &:hover {
            transform: translateZ(20px);
          }
        }
      }
     }
  }

  .slider::before,
  .slider::after {
    background: linear-gradient(to right, rgba(21, 21, 21, 1) 0%, rgba(21, 21, 21, 0) 100%);
    content: '';
    height: 200px;
    position: absolute;
    width: 15%;
    z-index: 2;
  }

  .slider::before {
    left: 0;
    top: 0;
  }

  .slider::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
  }

  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-250px * 5);
    }
  }
}
