<div class="container">
  <div class="header-container">
    <div class="title">
      <h1>
        {{tour?.name}}
      </h1>
    </div>
    <div *ngIf="isOwner" class="action-buttons">
      <button (click)="edit(tour.id)" class="edit-button" mat-flat-button color="accent">{{'TourInfoPage.Edit' | translate}}</button>
      <button (click)="delete(tour)" class="delete-button"  mat-flat-button color="accent">{{'TourInfoPage.Remove' | translate}}</button>
    </div>
    <div *ngIf="!isOwner" class="owner-info">
      <div class="name">
        <h2 (click)="goToUserProfilePage()">{{tour?.owner?.firstName}} {{tour?.owner?.lastName}}</h2>
      </div>
      <div class="image">
        <img src="{{avatarLink}}" alt="user">
      </div>
    </div>
  </div>
  <div class="carousel-container">
    <carousel *ngIf="tour?.urls?.length > 0"
              [width]="carouselWidth"
              [cellsToShow]="3"
              [cellWidth]="300"
              [transitionDuration]="500">
      <div class="carousel-cell" *ngFor="let image of tour?.urls">
        <img [src]="image" alt="tour">
      </div>
    </carousel>
  </div>
  <div class="open-map-container">
    <button mat-flat-button color="accent" (click)="openMap()">
      {{'TourInfoPage.OpenMap' | translate}} <mat-icon>map</mat-icon>
    </button>
  </div>
  <div class="price-container">
    <div class="label">{{'TourInfoPage.PriceLabel' | translate}}:</div>
    <div class="price">{{tour?.price}}</div><span> {{'TourInfoPage.CurrencyType' | translate}}</span>
  </div>
  <div class="datetime-container">
    <div class="label">{{'TourInfoPage.DateTimeLabel' | translate}}:</div>
    <div class="event-date">{{tour.eventDate | date: "dd.MM.yyyy HH:mm"}}</div>
  </div>
  <div class="description-container">
    <div class="description">
      {{tour?.description}}
    </div>
  </div>
  <div class="joined-container" *ngIf="tour?.joinedUsers">
    <div class="joined-users-label">
      {{'TourInfoPage.JoinedUsersLabel' | translate}}:
    </div>
    <div class="users-list">
      <div *ngFor="let user of tour?.joinedUsers">
        <app-user-card [size]="'small'" [user]="user"></app-user-card>
      </div>
    </div>
  </div>
  <div class="bottom-container" *ngIf="!isOwner">
    <button mat-flat-button color="accent" (click)="onGoTour()">
      {{'TourInfoPage.AcceptTourLabel' | translate}} <img src="assets/icons/go_tour_ic.png" alt="go">
    </button>
  </div>
</div>
