@import '../../../assets/css/mixins';

.container {
  padding-top: 60px;

  .header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 30px 40px;

    .title {
      display: flex;

      h1 {
        @include configure-font(34px, 700);
        color: antiquewhite;
      }
    }
  }

  .description-container {
    margin-top: 38px;
    margin-left: 40px;
    max-width: 800px;
    color: antiquewhite;
    @include configure-font(19px, 500);
  }

  .carousel-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .open-map-container {
    position: fixed;
    width: 170px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffd740;
    color: rgba(0,0,0,.87);
    z-index: 1;
    top: 85%;
    left: 46%;
    border-radius: 30px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;

    mat-icon {
      margin-left: 10px;
    }
  }
}
