<div mat-dialog-content>
  <h3>Ви впевнені що хочете видалити?</h3>
  <div class="confirmation-block" *ngIf="showConfirmation && confirmationWord">
    <label>Підтвердьте свій вибір будьласка: <strong>{{ confirmationWord }}</strong></label>
    <mat-form-field class="creation-form-field">
      <input matInput type="text" [(ngModel)]="enteredWord">
    </mat-form-field>
  </div>
</div>
<div mat-dialog-actions class="actions">
  <button mat-stroked-button color="primary" [mat-dialog-close]="false" >
    Скасувати
  </button>
  <button mat-stroked-button color="primary" [mat-dialog-close]="true" [disabled]="enteredWord !== confirmationWord">
    Так, видалити
  </button>
</div>
