<section>
  <div class="question">
    {{'ConfirmTour.Question1' | translate}} "{{tour.name}}" {{'ConfirmTour.Question2' | translate}} "{{tour.owner.firstName}} {{tour.owner.lastName}}"?
  </div>
  <div mat-dialog-actions class="actions">
    <button mat-flat-button color="primary" [mat-dialog-close]="true" >
      {{'ConfirmTour.Cancel' | translate}}
    </button>
    <button mat-flat-button color="accent" (click)="makeTourRequest()">
      {{'ConfirmTour.Confirm' | translate}}
    </button>
  </div>
</section>
