<section>
  <div class="tours">
    <div class="label">
      <h1>Усі мандрівки</h1>
    </div>
    <div class="toolbar">
      <div class="searching">
        <img src="assets/icons/ic_search.svg" alt="searching_icon">
        <input type="text"
               matInput
               autocomplete="off"
               [(ngModel)]="filter"
               (keyup)="loadPageHandler(pageEvent)"
               placeholder="Пошук по імені та опису">
      </div>
      <div class="sorting">
        <div class="label">Сортувати за</div>
        <button mat-flat-button color="accent" [matMenuTriggerFor]="menu">{{currentSorting.fieldName}} <mat-icon>arrow_drop_down</mat-icon></button>
        <mat-menu #menu="matMenu">
          <button *ngFor="let sortParam of sortingParameters"
                  (click)="sort(sortParam)"
                  mat-menu-item
                  [ngStyle]="{'font-weight': sortParam.fieldKey == currentSorting.fieldKey ? '600': '400'}">
            {{sortParam.fieldName}}
          </button>
        </mat-menu>
      </div>
    </div>
    <app-tours-list [_tours]="tours"></app-tours-list>
    <div class="paging-container">
      <div class="paginator" *ngIf="itemsTotal > 0">
        <app-paginator [count]="itemsTotal" [pageSize]="pageSize" (pageInfo)="loadPageHandler($event)"></app-paginator>
      </div>
      <div class="not-found">
        <h2 *ngIf="itemsTotal == 0">Нічого не знайдено :(</h2>
      </div>
    </div>
  </div>
</section>
