<div class="sidenav" [ngClass]="collapsed ? 'sidenav-collapsed' : ''">
  <div class="logo-container">
    <button class="logo" (click)="toggleCollapse()">H</button>
    <div class="logo-text" @fadeInOut *ngIf="collapsed">Horizon</div>
    <button class="btn-close" *ngIf="collapsed" @rotate (click)="closeSidenav()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <ul class="sidenav-nav">
    <li class="sidenav-nav-item" *ngFor="let data of navData">
      <a [routerLink]="[data.routerLink]"
         class="sidenav-nav-link"
         routerLinkActive="active"
      [routerLinkActiveOptions]="{exact: true}">
        <mat-icon>{{data.icon}}</mat-icon>
        <span class="sidenav-link-text" @fadeInOut *ngIf="collapsed">
          {{data.label}}
        </span>
      </a>
    </li>
  </ul>
</div>
