.header {
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #0B4909;
  background-image: linear-gradient(to bottom right, #0B4909, #06AF2B);
  //background-color: #2D343D;
  height: 100%;
  width: 100%;
}
