.header-container {
  position: absolute;
  display: flex;
  width: 100%;
  height: 60px;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
  color: aliceblue;
  background: rgba(255, 255, 255, 0.1);

  .spaces {
    flex: 1 1 auto;
  }

  .logo {
    margin-left: 20px;
    font-size: 25px;
    font-weight: 800;
    display: flex;
    align-items: center;
  }

  a {
    font-size: 18px;
    font-weight: 700;
    color: antiquewhite;
  }

  a:hover {
    background-color: black;
  }
}
