<div class="header-container">
  <div class="logo">
    Horizon
  </div>

  <div class="spaces"></div>

  <a mat-button routerLink="home">{{'NavBar.HomePageLink' | translate}}</a>
  <a mat-button routerLink="tours">{{'NavBar.ToursLink' | translate}}</a>
  <a *ngIf="currentUser" mat-button routerLink="tour/edit">{{'NavBar.EditLink' | translate}}</a>
  <a *ngIf="currentUser" mat-button routerLink="requests">{{'NavBar.RequestsLink' | translate}}</a>
  <a *ngIf="currentUser" mat-button routerLink="my-history">{{'NavBar.MyHistoryLink' | translate}}</a>
  <a *ngIf="!currentUser" mat-button routerLink="login">{{'NavBar.LoginLink' | translate}}</a>

  <app-user-dropdown [currentUser]="currentUser"></app-user-dropdown>

  <app-lang-switcher [currentUser]="currentUser"></app-lang-switcher>

</div>
