<mat-card>
  <mat-card-header>
    <img src="http://t1.gstatic.com/licensed-image?q=tbn:ANd9GcTc2zTLzM0Al2juaoW5ZTHJEi9i0DQyCwwbPtcufhdaoUAEBs7tLXsquTrzEci8" alt="carpatian">
  </mat-card-header>
  <mat-card-content>
    <div class="content">
      <div class="name">
        <a href="{{'/tour/info/' + tour.id}}">{{tour.name}}</a>
      </div>
      <div class="description">{{tour.description}}</div>
      <div class="bottom">
        <div class="rate-container">
          <mat-icon>thumb_up</mat-icon>
          <div class="rate">
            {{tour.rate}}
          </div>
        </div>
      </div>
    </div>

  </mat-card-content>
</mat-card>
