.card {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  background-color: #fff;
  margin: 0 .25rem .5rem;

  .card-head {
    padding: 1rem 1.5rem;
    border-bottom: 1px solid #edf1f7;
    font-size: 1rem;
    font-weight: 600;
  }

  .card-body {
    padding: 1rem 1.5rem;
  }
}
