<h1>Dashboard</h1>
<div class="card">
  <div class="card-head">Tour number One</div>
  <div class="card-body">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto blanditiis eaque ipsum libero natus necessitatibus rem, repellat? Consectetur consequuntur, cumque illo, ipsa ipsam laudantium nobis quam quis reprehenderit vel vero!
  </div>
  <div class="card-head">Tour number Two</div>
  <div class="card-body">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi aperiam, aspernatur aut autem eveniet, id iste, iure minima odio repellendus rerum totam veniam vitae? Aliquam debitis enim esse facere natus.
  </div>
</div>
