@import '../../assets/css/mixins';

.container {
  @include background-grid();
  display: flex;
  justify-content: center;
  padding-top: 60px;

  .tours {
    text-align: center;
    padding: 35px;
  }

  .label {
    text-align: center;

    h1 {
      color: #F2F4F8;
      font-size: 50px;
      line-height: 1.3em;
      font-family: "SF Pro Text", BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    }
  }
}
