@import '../../assets/css/mixins';

.container {
  @include background-grid();
  display: flex;
  justify-content: center;
  padding-top: 60px;

  .tours {
    text-align: center;
    padding: 35px;
  }
}
